<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="edit-main">
        <div class="form-container">
            <div class="form">
                <h1 class="createProductTitle">Editar Producto: <i><%= product.name %></i></h1>
                <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="form-container">
                        <div class="containers">
                        <label for="name">Nombre del producto</label>
                        <input class="input" type="text" name="name" id="name" value="<%= product.name %>">
                        <span class="error-message"></span>
                        <label for="category">Categorias</label>
                        <select id="category" class="select input" name="category">
                            <option hidden selected value="" <%- product.category === '' && `selected`%>Hidden>Elegí</option>
                            <% categories.forEach(category => { %>
                                <option value="<%- category.id %>"><%- category.name %></option>
                            <% }) %>
                        </select>
                        <span class="error-message"></span>
                        <label for="admin">Color del producto</label>
                        <select id="admin" class="select input" name="color">
                            <option value="" <%- product.color === '' && `selected`%>Hidden>Elegí</option>
                            <option value="Rojo" <%- product.color === 'Rojo' && `selected`%> >Rojo</option>
                            <option value="Azul" <%- product.color === 'Azul' && `selected`%> >Azul</option>
                            <option value="Negro" <%- product.color === 'Negro' && `selected`%> >Negro</option>
                            <option value="Verde" <%- product.color === 'Verde' && `selected`%> >Verde</option>
                            <option value="Violeta" <%- product.color === 'Violeta' && `selected`%> >Violeta</option>
                            <option value="Blanco" <%- product.color === 'Blanco' && `selected`%> >Blanco</option>
                            <option value="Amarillo" <%- product.color === 'Amarillo' && `selected`%> >Amarillo</option>
                        </select>
                        <span class="error-message"></span>
                        <label for="talle">Talle</label>
                        <select id="talle" class="select input">
                            <option value="" <%- product.talle === '' && `selected`%>Hidden>Elegí</option>
                            <option value="XS" <%- product.talle === 'XS' && `selected`%> >XS</option>
                            <option value="S" <%- product.talle === 'S' && `selected`%> >S</option>
                            <option value="M" <%- product.talle === 'M' && `selected`%> >M</option>
                            <option value="L" <%- product.talle === 'L' && `selected`%> >L</option>
                            <option value="XL" <%- product.talle === 'XL' && `selected`%> >XL</option>                           
                        </select>
                        <span class="error-message"></span>
                        <label for="image">Agregar Imagen</label>
                        <input class="input" type="file" name="image" accept="jpg">
                        <span class="error-message"></span>
                        <label for="description">Descripcion</label>
                        <textarea name="description" id="description" cols="30" rows="10"><%= product.description %></textarea>
                        <span class="error-message"></span>
                        <label for="price">Precio</label>
                        <input type="number" id="price" placeholder="Precio" class="input" name="price" value="<%= product.price %>">
                        <span class="error-message"></span>
                        <label for="discount">Descuento</label>
                        <input type="number" class="input" id="dicount" name="discount" value="<%= product.discount %>">
                        <span class="error-message"></span>
                    </div>
                        <div class="editButtons">
                            <button type="submit" class="button button-submit">Hecho</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        
    </main>
    
    <%- include('../partials/footer.ejs')  %> 

</body>
</html>