<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %> 
<body>
    <%- include('../partials/header') %> 
    <main class="edit-main">
        <div class="form-container">
            <div class="form">
                <h1 class="createProductTitle">Añadir Producto</h1>
                <form action="/products" method="POST" enctype="multipart/form-data">
                    <div class="form-container">
                        <div class="containers">
                            <label for="name">Nombre del producto</label>
                            <input class="input" type="text" name="name" id="name" value="<%= locals.old ? old.name : null %>">
                            <% if (locals.errors && errors.name) { %>
                                <span class="error-message"><%= errors.name.msg %> </span>
                            <% } %>

                            <label for="category">Categoria</label>
                            <select id="category" class="select input" name="category">
                                <option selected hidden value="">Seleccionar Categoria</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%- category.id %>" <%= locals.old && old.category == category.id ? "selected" : "" %>><%- category.name %></option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.category) { %>
                                <span class="error-message"><%= errors.category.msg %> </span>
                            <% } %>

                            <label for="subcategory">Subcategoria</label>
                            <select id="subcategory" class="select input" name="subcategory">
                                <option selected hidden value="">Seleccionar Subcategoria</option>
                                <% subcategories.forEach(subcategory => { %>
                                    <option value="<%- subcategory.id %>" <%= locals.old && old.subcategory == subcategory.id ? "selected" : "" %>><%- subcategory.name %></option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.subcategory) { %>
                                <span class="error-message"><%= errors.subcategory.msg %> </span>
                            <% } %>
                            <label for="color">Color del producto</label>
                            <select id="color" class="select input" name="color">
                                <option selected hidden value="">Seleccionar Color</option>
                                <% colors.forEach(color => { %>
                                    <option value="<%- color.id %>" <%= locals.old && old.color == color.id ? "selected" : "" %>><%- color.name %></option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.color) { %>
                                <span class="error-message"><%= errors.color.msg %> </span>
                            <% } %>
                            <label for="brand">Marca del producto</label>
                            <select id="brand" class="select input" name="brand">
                                <option selected hidden value="">Seleccionar Marca</option>
                                <% brands.forEach(brand => { %>
                                    <option value="<%- brand.id %>" <%= locals.old && old.brand == brand.id ? "selected" : "" %>><%- brand.name %></option>
                                <% }) %>
                            </select>
                            <% if (locals.errors && errors.brand) { %>
                                <span class="error-message"><%= errors.brand.msg %> </span>
                            <% } %>
                            <label for="image">Agregar Imagen (Max 4)</label>
                            <input class="input" type="file" name="image" multiple>
                            <label for="description">Descripcion</label>
                            <textarea name="description" id="description" cols="30" rows="10"></textarea>
                            <% if (locals.errors && errors.description) { %>
                                <span class="error-message"><%= errors.description.msg %> </span>
                            <% } %>
                            <label for="price">Precio</label>
                            <input type="number" id="price" name="price" placeholder="Precio" class="input" value="<%= locals.old ? old.price : null %>">
                            <% if (locals.errors && errors.price) { %>
                                <span class="error-message"><%= errors.price.msg %> </span>
                            <% } %>
                            <label for="discount">Descuento</label>
                            <input type="number" id="discount" class="input" name="discount" placeholder="Ej: 15" value="<%= locals.old ? old.discount : null %>">
                            <% if (locals.errors && errors.discount) { %>
                                <span class="error-message"><%= errors.discount.msg %> </span>
                            <% } %>  
                        </div>
                        
                            <button type="submit" class="button button-submit">Agregar producto</button>
                        
                    </div>
                </form>
                
            </div>
        </div>
        
    </main>
    
    <%- include('../partials/footer.ejs')  %> 

</body>
</html>