<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %> 
<body>
    <%- include('../partials/adminHeader') %>
    <main class="productsListMain">
        <div class="table-container">
            <h1 class="heading">Lista de Productos</h1>
            <a href="/products/create"><button class="addProductButton">Agregar Producto</button></a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Subategoria</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product => { %>
                        <tr>
                            <td data-label="ID"><%- product.id %></td>
                            <td data-label="Nombre"><%- product.name.toUpperCase() %></td>
                            <td data-label="Subcategoria"><%- product.subcategories.category.name %> | <%- product.subcategories.name %> </td>
                            <td data-label="Precio"><%- product.price %></td>
                            <td data-label="Descuento"><%- product.discount %></td>
                            <td data-label="#"><a href="/products/<%- product.id %>/edit" class="table-btn">Editar</a>
                                <form action="/products/<%- product.id %>?_method=DELETE" method="POST">
                                    <button class="table-delete-btn">Eliminar</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>
    <%- include('../partials/footer')  %> 
</body>
</html>