<!DOCTYPE html>
<html lang="es">

<!-- Head -->
<%- include('../partials/head.ejs') %> 

<body>
    
    <!-- Header -->
    <%- include('../partials/header.ejs')  %> 

    <main class="main-home">
        <hr>
        <%- include('../partials/carousel.ejs')  %> 
        <hr>
        <h1 class="titulo-ofertas">Ofertas Destacadas</h1>
        <hr>
        
        <div class="main-carousel">
            <% products.forEach(product => { %>
                <% if (product.discount >= 10) { %>
                    <article class="oferta carousel-cell" id="offersCarauselCell">
                        <div class="container-foto-oferta">
                            <a href="/products/detail/<%- product.id %>"><img src="images/products/<%- product.products_images[0].image %>" alt="" class="foto-oferta"></a>
                            <hr>
                        </div>
                        <div class="datos-oferta">
                            <a href="/products/detail/<%- product.id %>">
                                <h2 class="titulo-oferta"><%- product.name %></h2>
                            </a>
                            <h2 class="precio-oferta">$<%- toThousand(product.price - (product.price * product.discount / 100)) %></h2>
                            <% if (product.discount > 0) { %>
                                <span class="card-product-discount"><%- product.discount %>% OFF </span>
                                <span class="original-price">$<%- product.price %> </span>
                            <% } %>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </article>
                <% } %>
            <% }) %>
        </div>

        
        <br>
        <br>
        <br>


        <hr>
        <h1 class="titulo-ofertas">Nuestras Remeras</h1>
        <hr>
        <div class="main-carousel">
            <% products.forEach(product => { %>
                <% if (product.subcategories.category.id == 1) { %>
                    <article class="oferta carousel-cell" id="offersCarauselCell">
                        <div class="container-foto-oferta">
                            <a href="/products/detail/<%- product.id %>"><img src="images/products/<%- product.products_images[0].image %>" alt="" class="foto-oferta"></a>
                            <hr>
                        </div>
                        <div class="datos-oferta">
                            <a href="/products/detail/<%- product.id %>">
                                <h2 class="titulo-oferta"><%- product.name %></h2>
                            </a>
                            <h2 class="precio-oferta">$<%- toThousand(product.price - (product.price * product.discount / 100)) %></h2>
                            <% if (product.discount > 0) { %>
                                <span class="card-product-discount"><%- product.discount %>% OFF </span>
                                <span class="original-price">$<%- product.price %> </span>
                            <% } %>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </article>   
                <% } %>
            <% }) %>
        </div>

        <br>
        <br>
        <br>


        <hr>
        <h1 class="titulo-ofertas">Calzado y Medias</h1>
        <hr>

        <div class="main-carousel">
            <% products.forEach(product => { %>
                <% if (product.subcategories.category.id == 2) { %>
                    <article class="oferta carousel-cell" id="offersCarauselCell">
                        <div class="container-foto-oferta">
                            <a href="/products/detail/<%- product.id %>"><img src="images/products/<%- product.products_images[0].image %>" alt="" class="foto-oferta"></a>
                            <hr>
                        </div>
                        <div class="datos-oferta">
                            <a href="/products/detail/<%- product.id %>">
                                <h2 class="titulo-oferta"><%- product.name %></h2>
                            </a>
                            <h2 class="precio-oferta">$<%- toThousand(product.price - (product.price * product.discount / 100)) %></h2>
                            <% if (product.discount > 0) { %>
                                <span class="card-product-discount"><%- product.discount %>% OFF </span>
                                <span class="original-price">$<%- product.price %> </span>
                            <% } %>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </article> 
                <% } %>
            <% }) %>
        </div>

        <br>
        <br>
        <br>

        <hr>
        <h1 class="titulo-ofertas">Figuras</h1>
        <hr>

        <div class="main-carousel">
            <% products.forEach(product => { %>
                <% if (product.subcategory_id == 26) { %>
                    <article class="oferta carousel-cell" id="offersCarauselCell">
                        <div class="container-foto-oferta">
                            <a href="/products/detail/<%- product.id %>"><img src="images/products/<%- product.products_images[0].image %>" alt="" class="foto-oferta"></a>
                            <hr>
                        </div>
                        <div class="datos-oferta">
                            <a href="/products/detail/<%- product.id %>">
                                <h2 class="titulo-oferta"><%- product.name %></h2>
                            </a>
                            <h2 class="precio-oferta">$<%- toThousand(product.price - (product.price * product.discount / 100)) %></h2>
                            <% if (product.discount > 0) { %>
                                <span class="card-product-discount"><%- product.discount %>% OFF </span>
                                <span class="original-price">$<%- product.price %> </span>
                            <% } %>
                            <span>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </span>
                        </div>
                    </article> 
                <% } %>
            <% }) %>
        </div>

        <br>
        <br>
        <br>
       

        <hr>
        <h2 class="titulo-destacadas">Series Destacadas</h2>
        <hr>

        
        <div class="main-carousel">
            <article class="destacada carousel-cell">
                <div class="container-foto-destacada">
                    <img src="images\naruto_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>
                <a href="#"><h2 class="titulo-serie">NARUTO</h2></a>
            </article>

            <article class="destacada carousel-cell">
                <div class="container-foto-destacada">
                    <img src="images\one_piece_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>
                <a href="#"><h2 class="titulo-serie">ONE PIECE</h2></a>
            </article>

            <article class="destacada carousel-cell">
                <div class="container-foto-destacada">
                    <img src="images\demon_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>
                <a href="#"><h2 class="titulo-serie">DEMON SLAYER</h2></a>
            </article>

            <article class="destacada carousel-cell">
                <div class="container-foto-destacada">
                    <img src="images\Copy_of_Untitled_3_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>
                <a href="#"><h2 class="titulo-serie">HUNTER X HUNTER</h2></a>
            </article>

            <article class="destacada carousel-cell">
                <div class="container-foto-destacada">
                    <img src="images\700f81024f334c24b63bcbc33d2f432d.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>
                <a href="#"><h2 class="titulo-serie">ATTACK ON TITAN</h2></a>
            </article>

            <article class="destacada carousel-cell">
                <div class="container-foto-destacada">
                    <img src="images\dragon-ball-characters-jason-stonebanks.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>
                <a href="#"><h2 class="titulo-serie">DRAGON BALL</h2></a>
            </article>

            <article class="destacada carousel-cell">
                <div class="container-foto-destacada">
                    <img src="images\yugioh540.png" alt="" class="foto-destacada">
                    <hr>
                </div>
                <a href="#"><h2 class="titulo-serie">YU-GI-OH!</h2></a>
            </article>
            
        </div>

        <!-- <div class="series-destacadas">
            <article class="destacada">
                <div class="container-foto-destacada">
                    <img src="images\naruto_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>

                <a href="#"><h2 class="titulo-serie">NARUTO</h2></a>

            </article>

            <article class="destacada">
                <div class="container-foto-destacada">
                    <img src="images\one_piece_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>

                <a href="#"><h2 class="titulo-serie">ONE PIECE</h2></a>

            </article>

            <article class="destacada">
                <div class="container-foto-destacada">
                    <img src="images\demon_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>

                <a href="#"><h2 class="titulo-serie">DEMON SLAYER</h2></a>

            </article>

            <article class="destacada">
                <div class="container-foto-destacada">
                    <img src="images\Copy_of_Untitled_3_540x.jpg" alt="" class="foto-destacada">
                    <hr>
                </div>

                <a href="#"><h2 class="titulo-serie">HUNTER X HUNTER</h2></a>

            </article>
        </div> -->
        <!-- <hr>
        <h1 class="titulo-ofertas">OOPS... NO HAY NADA MAS POR QUÍ</h1>
        <hr> -->

        

    </main>

    <%- include('../partials/footer.ejs')  %> 

    <!-- JAVASCRIPT -->
    <script src="/javascript/carousel.js"></script>
    <script src="/javascript/slider.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <!-- <script src="/javascript/preventDefaultSearch.js"></script> -->
</body>

</html>