<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body class="login-body">

    <%- include('../partials/header.ejs')  %> 

<main class="login-main">

    <div class="form">
        <h2>Iniciar sesión</h2>

        <form method='POST' action="/users/login">
            <div class="form-container">
                <div class="containers">
                    <label for="">Correo electrónico</label>
                    <input class="input" type="email" name="email" id="email" placeholder="Ingrese su correo electrónico" value="<%= locals.old ? old.email : null %>">
                    <% if (locals.errors && errors.email) { %>
                        <span class="error-message"> <%= errors.email.msg %></span>
                    <% } %>
                    <label for="">Contraseña</label>
                    <input class="input" type="password" name="pass" id="pass" placeholder="Ingrese su contraseña">
                    <% if (locals.errors && errors.custom) { %>
                        <span class="error-message"> <%= errors.custom.msg %></span>
                    <% } %>
                    <div class="check">
                        <label for="remember">Recordarme</label>
                        <input type="checkbox" name="remember" id="remember">
                    </div>
                    <div class="button">
                        <button type="submit" class="button button-submit">Iniciar sesión</button>
                    </div>
                </div>
                <span><a href="">¿Olvidaste tu contraseña?</a></span>
                <label for="">Aún no te has registrado</label>
                <span><a href="/users/register">Registrate</a></span>
            </div>
        </form>
    </div>

</main>

<%- include('../partials/footer.ejs')  %> 


</body>

</html>