<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body class="login-body">

    <%- include('../partials/header.ejs')  %> 

<main class="login-main">

    <div class="form">
        <h2>Iniciar sesión</h2>

        <form method='POST' action="/users/login" id="form">
            <div class="form-container">
                <div class="containers">
                    <label for="">Correo electrónico</label>
                    <div class="inputContainer">
                        <i class="far fa-check-circle fa-check-email"></i>
                        <i class="far fa-times-circle fa-cross-email"></i>
                        <input class="input" type="email" name="email" id="email" placeholder="Ingrese su email" value="<%= locals.old ? old.email : null %>">
                    </div>
                    <% if (locals.errors && errors.email) { %>
                        <span class="error-message"> <%= errors.email.msg %></span>
                    <% } %>
                    <span class="error-message" id="emailErrors"></span>
                    <label for="">Contraseña</label>
                    <div class="inputContainer">
                        <i class="far fa-check-circle fa-check-pass"></i>
                        <i class="far fa-times-circle fa-cross-pass"></i>
                        <input class="input" type="password" name="pass" id="pass" placeholder="Ingrese su contraseña">
                    </div>
                    <% if (locals.errors && errors.pass) { %>
                        <span class="error-message"> <%= errors.pass.msg %></span>
                    <% } %>
                    <span class="error-message" id="passErrors"></span>
                    <div class="check">
                        <label for="remember">Recordarme</label>
                        <input type="checkbox" name="remember" id="remember">
                    </div>
                    <% if (locals.errors && errors.custom) { %>
                        <span id="submitErrors" style="display: block;"> <%= errors.custom.msg %></span>
                    <% } %>
                    <span id="submitErrors"></span>
                    <div class="button">
                        <button type="submit" class="button button-submit">Iniciar sesión</button>
                    </div>
                </div>
                <span><a href="">¿Olvidaste tu contraseña?</a></span>
                <label for="">¿Aún no te has registrado?</label>
                <span><a href="/users/register">Registrate</a></span>
            </div>
        </form>
    </div>

</main>

<%- include('../partials/footer.ejs')  %> 
<script src="/javascript/loginValidator.js"></script>

</body>

</html>