<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs')  %> 

<body>
    
    <%- include('../partials/header.ejs')  %>
    <main class="main-profile">
        <div class="profileBox">
            <div class="userPhoto">
                <form action="/users/updateAvatar?_method=put" class="avatarForm" enctype="multipart/form-data" method="POST">
                    <label for="avatar" class="avatarLabel"> . </label>
                    <input type="file" name="avatar" id="avatar" class="avatarInput" onchange="this.form.submit()">
                </form>
                <div class="changeAvatar">
                    <span class="changeAvatarSpan">Cambiar Imagen</span>
                    <i class="fas fa-camera" class="cameraIcon"></i>
                </div>
                <img src="\images\avatars\<%- session.user.avatar %>" alt="" class="profilePhoto">
            </div>
                <h2 class="profileName"><%= session.user.first_name %> <%= session.user.last_name %></h2>
            <div class="profileInfoBox">
                <h2 class="userDataTitle">Datos del Usuario:</h2>
                <hr>
                <p class="userDataItem">Nombre: <%= session.user.first_name %></p>
                <p class="userDataItem">Apellido: <%= session.user.last_name %></p>
                <p class="userDataItem">Email: <%= session.user.email %></p>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs')  %> 
    <script src="/javascript/avatarScripts.js"></script>

</body>
</html>