<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head.ejs') %> 

<body class="register-body">

    <%- include('../partials/header.ejs')  %>

    <main class="register-main">

    <div class="register-container">

        <div class="form">

            <h2>Registrarme</h2>

            <form method="POST" action="/users/register" enctype="multipart/form-data" id="form">
                
                <div class="form-container">

                    <div class="containers">

                        <label for="nombre">Nombre</label>
                        <% if (locals.errors && errors.nombre) { %>
                            <div class="inputContainer">
                                <i class="far fa-check-circle fa-check-name"></i>
                                <i class="far fa-times-circle fa-cross-name" style="display: block;"></i>
                                <input autocomplete="off" class="input is-invalid" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" value="<%= locals.old ? old.nombre : null %>">
                            </div>
                            <span class="error-message" id="nameErrors"><%= errors.nombre.msg %></span>
                        <% } else { %>
                            <div class="inputContainer">
                                <i class="far fa-check-circle fa-check-name"></i>
                                <i class="far fa-times-circle fa-cross-name"></i>
                                <input autocomplete="off" class="input" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" value="<%= locals.old ? old.nombre : null %>">
                            </div>
                            <span class="error-message" id="nameErrors"></span>
                        <% } %>
                        
                        
                        <label for="apellido">Apellido</label>
                        <% if (locals.errors && errors.apellido) { %>
                            <div class="inputContainer">
                                <i class="far fa-check-circle fa-check-lastName"></i>
                                <i class="far fa-times-circle fa-cross-lastName" style="display: block;"></i>
                                <input autocomplete="off" class="input is-invalid" type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido" value="<%= locals.old ? old.apellido : null %>">
                            </div>
                            <span class="error-message" id="lastNameErrors"><%= errors.apellido.msg %></span>
                        <% } else { %>
                            <div class="inputContainer">
                                <i class="far fa-check-circle fa-check-lastName"></i>
                                <i class="far fa-times-circle fa-cross-lastName"></i>
                                <input autocomplete="off" class="input" type="text" name="apellido" id="apellido" placeholder="Ingrese su apellido" value="<%= locals.old ? old.apellido : null %>">
                            </div>
                            <span class="error-message" id="lastNameErrors"></span>
                        <% } %>
                        

                        <label for="email">Correo electrónico</label>
                        <% if (locals.errors && errors.email) { %>
                            <div class="inputContainer">
                                <i class="far fa-check-circle fa-check-email"></i>
                                <i class="far fa-times-circle fa-cross-email" style="display: block;"></i>
                                <input autocomplete="off" class="input is-invalid" type="email" name="email" id="email" placeholder="Ingrese su correo electrónico" value="<%= locals.old ? old.email : null %>">
                            </div>
                            <span class="error-message" id="emailErrors"><%= errors.email.msg %></span>
                        <% } else { %>
                            <div class="inputContainer">
                                <i class="far fa-check-circle fa-check-email"></i>
                                <i class="far fa-times-circle fa-cross-email"></i>
                                <input autocomplete="off" class="input" type="email" name="email" id="email" placeholder="Ingrese su correo electrónico" value="<%= locals.old ? old.email : null %>">
                            </div>
                            <span class="error-message" id="emailErrors"></span>
                        <% } %>


                        <label for="pass">Contraseña</label>
                        <% if (locals.errors && errors.pass) { %>
                            <div class="inputContainer">
                                <i class="fas fa-eye" id="btn-pass-1"></i>
                                <i class="far fa-check-circle fa-check-pass"></i>
                                <i class="far fa-times-circle fa-cross-pass" style="display: block;"></i>
                                <input autocomplete="off" class="input is-invalid" type="password" name="pass" id="pass" placeholder="Ingrese su contraseña">
                            </div>
                            <span class="error-message" id="passErrors"><%= errors.pass.msg %></span>
                        <% } else { %>
                            <div class="inputContainer">
                                <i class="fas fa-eye" id="btn-pass-1"></i>
                                <i class="far fa-check-circle fa-check-pass"></i>
                                <i class="far fa-times-circle fa-cross-pass"></i>
                                <input autocomplete="off" class="input" type="password" name="pass" id="pass" placeholder="Ingrese su contraseña">
                            </div>
                            <span class="error-message" id="passErrors"></span>
                        <% } %>


                        <label for="pass2">Ingrese la contraseña nuevamente</label>
                        <% if (locals.errors && errors.pass2) { %>
                            <div class="inputContainer">
                                <i class="fas fa-eye" id="btn-pass-2"></i>
                                <i class="far fa-check-circle fa-check-pass2"></i>
                                <i class="far fa-times-circle fa-cross-pass2" style="display: block;"></i>
                                <input autocomplete="off" class="input is-invalid" type="password" name="pass2" id="pass2" placeholder="Re-ingresa la contraseña">
                            </div>
                            <span class="error-message" id="pass2Errors"><%= errors.pass2.msg %></span>
                        <% } else { %>
                            <div class="inputContainer">
                                <i class="fas fa-eye" id="btn-pass-2"></i>
                                <i class="far fa-check-circle fa-check-pass2"></i>
                                <i class="far fa-times-circle fa-cross-pass2"></i>
                                <input autocomplete="off" class="input" type="password" name="pass2" id="pass2" placeholder="Re-ingresa la contraseña">
                            </div>
                            <span class="error-message" id="pass2Errors"></span>
                        <% } %>
                        

                        <label for="avatar" id="avatarLabel">Agregar Avatar <i class="fas fa-cloud-upload"></i></label>
                        <input class="input" type="file" name="avatar" id="avatar">
                        <div class="preview-container" id="img-preview">

                        </div>
                        <span class="error-message" id="fileErrors"></span>
                    </div>
                    <div class="check">
                        <label for="terms" class="terms">Acepto los <a href="">Términos y Condiciones</a></label>
                        <input type="checkbox" name="terms" id="terms">
                    </div>
                    <% if (locals.errors && errors.terms) { %>
                        <span class="error-message" id="termsErrors"><%= errors.terms.msg %></span>
                    <% } %>
                    <span class="error-message" id="termsErrors"></span>
                    <div class="check">
                        <label for="emailNotifications">Desea recibir notificaciones al correo?</label>
                        <input type="checkbox" name="emailNotifications" id="emailNotifications">
                    </div>
                    <span id="submitErrors"></span>
                    <div class="button">
                        <button type="submit" class="button button-submit">Crear mi cuenta</button>
                    </div>
                    <span><a href="/users/login">Ya tengo cuenta</a></span>
                </div>
            </form>
        </div>

        </div>

    </main>

    <%- include('../partials/footer.ejs')  %> 
    <script src="/javascript/registerValidator.js"></script>
    
</body>


</html>